* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }

.heading {
    padding-left: 120.22px;;
    padding-right: 531px;
    padding-top: 217.1px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    height: 125.01px;
    width: 788.78px;
}
.box {
    background-image: url(img/top.png);
    height: 1024px;
    top: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.heading2 {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    color: #FFFFFF;
   height: 64px;
   padding-left: 120.22px;
   padding-top: 32px;
   width: 481px;
}
.start {
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-decoration-line: none;
}
.start:hover {
    text-decoration: underline;
}
.buttom {
    padding-left: 120px;
    padding-top: 44px;
}
    
.for {
    background-image: url(img/footer.png);
  padding-top: 1024px;
  padding: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.for__item {
    
    
    margin-left: 32px;
    margin-top: 1236.36px;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
 
}
      .for__game1 {
        background-image: url(img/game1.png);
        width: 379px;
        height: 300px;
        margin-top: 128px;
        margin-left: 120px;
        margin-bottom: 128px;

        background: linear-gradient(180deg, rgba(39, 1, 15, 0));
        border-radius: 16px;
        
       }
      
      .for__game2 {
        background-image: url(img/game2.png);
        width: 378px;
        height: 300px;
        left: 531px;
        margin-top: 128px;
        margin-left: 32px;
        margin-bottom: 128px;

        background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game2.png);
        border-radius: 16px;
      }
      
      .for__game3 {
        background-image: url(img/game3.png);
        width: 379px;
        height: 300px;
        left: 941px;
        margin-top: 128px;
        margin-left: 32px;
        margin-bottom: 128px;
     background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(img/game3.png);
        border-radius: 16px;
      }
      

